.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #006C2B;
}

.App-background {
  background-color: #C6DEBD;
}

.search-bar {
  height: 45px;
}