.header1 {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 28px;
}

.header1:hover {
  cursor: pointer;
}

.mb-3 {
  padding-bottom: 40px;
}

.card-image {
  height: 250px;
}

.column {
  padding-bottom: 50px;
}

.products {
  padding-top: 20px;
  padding-bottom: 100px;
}

.product {
  width: 300px;
}

.product-accordion {
  padding-top: 20px;
}

.product-description {
  font-size: 15px;
}