.mb-3 {
  padding-bottom: 40px;
}

.card-image {
  height: 250px;
}

.column {
  padding-bottom: 50px;
}

.products {
  padding-top: 20px;
  padding-bottom: 100px;
  flex-direction: row;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.product {
  width: 300px;
  margin-left: 12px;
  margin-right: 12px;
}

.product-accordion {
  padding-top: 20px;
}

.product-description {
  font-size: 15px;
}